{% extends 'blog/base.html' %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <h2>
        Перечень специальностей<br>
</h2>
<h3>
В настоящее время в Профессиональном колледже ведется подготовка следующих специальностей:<br><br>
<ul>
030503 – Правоведение<br>

040101 – Социальная работа<br>

050704 – Дошкольное образование<br>

050709 – Преподавание в начальных классах<br>

050711 – Социальная педагогика<br>

050720 – Переводческое дело<br>

080106 – Финансы<br>

080107 – Налог и налогообложение<br>

0801058 – Банковское дело<br>

080110 – Экономика и бухгалтерский учет<br>

080112 – Маркетинг<br>

080501 – Менеджемент<br>

220206 – Автоматизированные системы обработки информации и управления (по отраслям)<br>

230109 – Программное обеспечение вычислительной техники и автоматизированных систем<br>

230701 – Прикладная информатика.<br>
    </ul>
    </h3>
{% endblock %}
