{% extends 'blog/base.html' %}

{% block title %}Список расписаний{% endblock %}

{% block content %}
    <h1>Список расписаний</h1>

    <ul>
        {% for file in file_data %}
           <h3> <ul>
                {% if file.c2b11 %}
                    <li><a href="{{ file.c2b11 }}" target="_blank">2-курс(на базе 11 класса)</a></li>
                {% endif %}
                {% if file.c1b11 %}
                    <li><a href="{{ file.c1b11 }}" target="_blank">1-курс(на базе 11 класса)</a></li>
                {% endif %}
                {% if file.c3b9 %}
                    <li><a href="{{ file.c3b9 }}" target="_blank">3-курс(на базе 9 класса)</a></li>
                {% endif %}
                {% if file.c2b9 %}
                    <li><a href="{{ file.c2b9 }}" target="_blank">2-курс(на базе 9 класса)</a></li>
                {% endif %}
                {% if file.c1b9 %}
                    <li><a href="{{ file.c1b9 }}" target="_blank">1-курс(на базе 9 класса)</a></li>
                {% endif %}
                {% if file.it9 %}
                    <li><a href="{{ file.it9 }}" target="_blank">ИТ(на базе 9 класса)</a></li>
                {% endif %}
            </ul></h3>
        {% endfor %}
    </ul>
{% endblock %}
