{% extends 'blog/base.html' %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <h2>Добро пожаловать в Колледж КНУ!</h2>
<h3>История Профессионального колледжа КНУ им. Ж.Баласагына начинается с 2004 года. В этом году впервые в университете начала свою реализациюсредние профессиональные образовательные программы. А именно, в университете открылся информационно-технологический колледж, началась подготовка средне-специальных профессий, таких как «Автоматизированные системы обработки информации и управление», «Программное обеспечение вычислительной техники и автоматизированных систем».

В 2005 году началась подготовка таких профессий, как«Финансы», «Банковское дело», «Налоги и налогообложение», «Экономика и бухгалтерский учет». Вследствие деления информационно-технологических и экономических профессий, колледж разделился на два отдельных колледжа.

В 2007 году в университете образовался Юридический колледж, началась подготовка специалистов по правоведению.

В 2009 году образовался педагогический колледж при университете. Здесь начали получать знания будущие учителя по специальностям «Учитель начальных классов», «Дошкольное образование», «Социальная педагогика», «Кыргызский язык и литература». «Русский язык и литература», «Иностранный язык», «История», «География», «Физическая культура», «Информатика», «Математика», «Художественное искусство и черчение».

В том же году образовался Кыргызско-китайский колледж, и начали реализовыватьсятакие специальности как «Менеджмент» и «Переводческое дело».

Профессиональный колледж Кыргызского национального университета имени Жусупа Баласагына был преобразован на основании Постановления Ученого совета университета от 15 мая 2018 №3/4, решения Попечительского совета от 26 июня 2019 года №3/4 и приказа Ректора от 18 июля 2019 года № 262.
</h3>
{% endblock %}
